{% extends 'base.html' %} 

{% block title %} New Post {% endblock %} 

{% block content %}
<h2>Create A New Post</h2>

<form method="POST">
  {% csrf_token %} {% for field in postCreationForm %}
  <p>
    {{field.label_tag}} {{field}} {% if field.help_text %}
    <small style="color: gray;">
      {field.help_text}}
    </small>
    {% endif %}
  </p>
  {% endfor %} {% for field in postCreationForm %}
  {% for error in field.errors %}
  <p style="color: red;">
    {{error}}
  </p>
  {% endfor %} {% endfor %} {% if postCreationForm.non_field_errors %}
  <div style="color: red">
    <p>
      {{postCreationForm.non_field_errors}}
    </p>
  </div>
  {% endif %}

  <button type="submit">Submit Post</button>
</form>
{% endblock %}
