{% extends 'base.html' %} 
{% block stylesheet %}
<style>
  .markdown-content{
    --primary-color: black;
    --accent-color: black;
}
  img{
  max-width: 200px;
  max-height: 200px;
}
</style> 
{% endblock %}
{% block title %} New Post {% endblock %} 

{% block content %}
<div class="row p-0 m-0">
  <div class="col sidebar bg-light">
      <!-- Left sidebar (no content) -->
  </div>
  <div class="col-8 stream bg-white pb-3" id="stream">
    <!-- "stream" content (middle section)-->
    <div class="row p-2 justify-content-left">
      <h2>New Post</h2>
    </div>
    <form method="POST">
      {% csrf_token %} 
      {% for field in postCreationForm %}
      <div class="card p-4">
        <h3>{{field.label_tag}}</h3> {{field}} {% if field.help_text %}
        <small style="color: gray;">
          {field.help_text}}
        </small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red;" class="blah">
            {{error}}
          </p>
        {% endfor %}
      </div>
      {% endfor %} 
      {% if postCreationForm.non_field_errors %}
      <div style="color: red">
        <p>
          {{postCreationForm.non_field_errors}}
        </p>
      </div>
      {% endif %}
      <button type="submit" class="btn btn-lg btn-block btn-outline-primary">Submit Post</button>
    </form>
  </div>
  <div class="col text-right sidebar bg-light">
    <!-- Right sidebar, storing images -->
    <div id="images-container">
      {% if images.count != 0 %}
      <h3 style="text-align: center;">Your Images</h3>
      <h4 style="text-align: center;">Click to Embed</h4>
      {% endif %}
      {% for image in images %}
      <button class="card m-2 post" onclick="embedImage('{{image.source}}', '{{image.title}}')">
        <div class="card-body">
          {% if image.contentType == 'image/jpeg;base64' %}
          <div class="card-text"><img src="data:image/jpeg;base64,{{ image.content }}"></div>
          {% elif image.contentType == 'image/png;base64' %}
          <div class="card-text"><img src="data:image/png;base64,{{ image.content }}"></div>
          {% endif %}
        </div>
      </button>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script>
  // Disabling the visibleTo field if it's not needed
  // Thanks to user Praveen Kumar Purushothaman answering user french_dev's question on StackOverflow: https://stackoverflow.com/a/30867314
  if(document.getElementById("id_visibleTo").value !== 'PRIVATE'){
    document.getElementById("id_visibleTo").setAttribute("disabled", "disabled");
  }
  document.getElementById("id_visibility").onchange = function () {
    document.getElementById("id_visibleTo").setAttribute("disabled", "disabled");
    if (this.value == 'PRIVATE'){
      document.getElementById("id_visibleTo").removeAttribute("disabled");
    }
  };

  // Disabling the images unless the style is markdown
  if(document.getElementById("id_contentType").value !== 'text/markdown'){
    document.getElementById("images-container").setAttribute("hidden", "hidden");
  }
  document.getElementById("id_contentType").onchange = function(){
    document.getElementById("images-container").setAttribute("hidden", "hidden");
    if (this.value == 'text/markdown'){
      document.getElementById("images-container").removeAttribute("hidden");
    }
  }

  //Thanks to user Roko C. Buljan answering user bombastic's question on StackOverflow: https://stackoverflow.com/a/17711190
  function readFile() {
    if (this.files && this.files[0]) {
    
      var FR= new FileReader();
    
      FR.addEventListener("load", function(e) {
        let code = e.target.result;
        code = code.replace('data:image/png;base64,','');
        code = code.replace('data:image/jpeg;base64,','');
        document.getElementById("id_content").value = code;
        document.getElementById("id_image").src = e.target.result;
      }); 
    
      let file = this.files[0];
      if (file && $("#id_contentType").val().includes(file.type)) {
        FR.readAsDataURL( this.files[0] );
      }else{
        //Not a valid filetype!
        $("#id_imageUpload").val("");
      }
    }
  }

  function create_file_uploader() {
    $("#id_content").after("<input id=\"id_imageUpload\" type='file'>");
    $("#id_content").after("<img id=\"id_image\" alt=\"Upload An Image\" style=\"max-width: 400px; max-height: 500px;\">");
    $("#id_imageUpload").change(readFile);

    toggle_image_content();
  };

  function toggle_image_content() {
    let elem = $("#id_contentType");
    if (elem.val() =='image/png;base64' || elem.val() == 'image/jpeg;base64') {
      $("#id_content").hide();
      $("#id_imageUpload").show();
      $("#id_image").show();
      //Set the image src to the value of the content field.
      $("#id_image").attr("src","data:" + elem.val() + "," + $("#id_content").val());
    }else{
      $('#id_content').show();
      $("#id_imageUpload").hide();
      $("#id_image").hide();
    }
  };
  
  function embedImage(source, title){
    // Embeds the image into the content field
    var contentfield = document.getElementById("id_content");
    contentfield.textContent += "![" + title + '](' + source + ') ';
  }

  window.onload = function () {
    create_file_uploader();
    $("#id_contentType").change(toggle_image_content);
  }
</script>
{% endblock %}