:root {
  --primary-color: rgb(27, 53, 156);
  --accent-color: rgb(255, 242, 0);
}

* {
  font-family: "Oswald", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  height: 100%;
  width: 100%;
  position: absolute;
}

.logo {
  position: absolute;
  margin: 0.75em 1.5em 1em 1.5em;
}

.nav {
  padding-top: 2em;
  background-color: var(--primary-color);
}

.nav-link {
  color: var(--accent-color);
}

.btn-outline-primary,
.btn-primary {
  color: var(--accent-color);
  border-color: var(--accent-color);
  background-color: var(--primary-color);
  border-width: 3px;
  border-radius: 10px;
}

.btn-primary:hover,
.btn-outline-primary:hover {
  background-color: var(--primary-color);
  border-color: var(--accent-color);
}

h2,
a {
  color: var(--primary-color);
}

.stream {
  background-color: white;
  padding-top: 0.5rem;
}

.sidebar {
  background-color: rgb(216, 213, 213);
  padding-top: 0.5rem;
}

.post {
  border-color: var(--primary-color);
  border-radius: 10px;
}

.featured-author {
  border-color: var(--primary-color);
  border-radius: 10px;
}

.featured-author > .card-body {
  padding: 0.5rem;
}

#stream {
  min-height: 90vh;
}
