{% extends 'base.html' %}

{% block nav-home %}
<a class="nav-link" href="{% url 'home' %}">Home</a>
{% endblock  %}

{% block title %}Friends{% endblock %}
{% block content %}
<div class="row p-0 m-0">
  <div class="col sidebar bg-light">
    <div class="row justify-content-center">
    </div>
    {% if request.user.is_authenticated %}
    <div class="row p-2 m-2 justify-content-center">
        <a role="button" class="btn btn-lg btn-block btn-outline-primary" href="{% url 'post:create' %}">Create</a>
    </div>
    <div class="row p-2 m-2 justify-content-center">
        <a role="button" class="btn btn-lg btn-block btn-outline-primary" href="/friends">Friends</a>
    </div>
    {%endif%}
  </div>
    <div class="col-8 stream bg-white pb-3" >
      <div class="row p-2 justify-content-left">
        <h2>Pending Requests</h2>
      </div>
      {% if followers|length %}
      {% for follower in followers %}
      <div class="card m-2 post">

        <div class="card-body row">

          <div class="col-8">
          <h5><a href="{{ follower.url }}"><span style="font-weight:bold">{{ follower.displayName}}</a> is following you, click accept to add them to your friends.</h5>
          </div>
          <div class=" col-4">
              <form method="post" action="reject" style="float:right">
                      {% csrf_token %}
                      <input type="hidden" name="authorId" value="{{follower.id}}">
                      <button type="submit" class="btn btn-primary">Decline</button>
                  </form>
              <form method="post" action="accept" style="float:right;margin-right:2%">
                  {% csrf_token %}
                  <input type="hidden" name="authorId" value="{{follower.id}}">
                  <button type="submit" class="btn btn-primary">Accept</button>
              </form>
            </div>

        </div>
      </div>
      {% endfor %}
      {% else %}
      <div class="card m-2 post">
          <div class="card-body row">
            <div class="col">
            <h5>You have no pending friend requests.</h5>
            </div>
          </div>
      </div>
      {% endif %}

      <div class="row p-2 justify-content-left">
          <h2>Following</h2>
        </div>
        {% if following|length %}
        {% for follow in following %}
      <div class="card m-2 post">
          <div class="card-body row">
            <div class="col-8">
              <h5><a href="{{ follow.url }}"><span style="font-weight:bold">{{ follow.displayName}} </a></h5>
            </div>
  
            <div class=" col-4">
                <form method="post" action="unfollow" style="float:right">
                        {% csrf_token %}
                        <input type="hidden" name="authorId" value="{{follow.id}}">
                        <button type="submit" class="btn btn-primary">Unfollow</button>
                    </form>
              </div>
  
          </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="card m-2 post">
            <div class="card-body row">
              <div class="col">
              <h5>You are not following anyone.</h5>
              </div>
            </div>
        </div>
        {% endif %}

        <div class="row p-2 justify-content-left">
            <h2>Friends</h2>
          </div>
          {% if friends|length %}
          {% for friend in friends %}
          <div class="card m-2 post">
              <div class="card-body row">
                <div class="col-8">
                  <h5><a href="{{ friend.url }}"><span style="font-weight:bold">{{ friend.displayName}} </a></h5>
                </div>
      
                <div class=" col-4">
                    <form method="post" action="unfriend" style="float:right">
                            {% csrf_token %}
                            <input type="hidden" name="authorId" value="{{friend.id}}">
                            <button type="submit" class="btn btn-primary">Remove Friend</button>
                        </form>
                  </div>
              </div>
            </div>
          {% endfor %}
          {% else %}
          <div class="card m-2 post">
              <div class="card-body row">
                <div class="col">
                <h5>You have no friends.</h5>
                </div>
              </div>
          </div>
          {% endif %}
          
          <div class="row p-2 justify-content-left">
              <h2>Explore Local</h2>
            </div>
            {% if other_local|length %}
            {% for other in other_local %}
            <div class="card m-2 post">
                <div class="card-body row">
                  <div class="col-8">
                    <h5><a href="{{ other.url }}"><span style="font-weight:bold">{{ other.displayName}} </a></h5>
                  </div>
                  <div class=" col-4">
                      <form method="post" action="follow" style="float:right">
                              {% csrf_token %}
                              <input type="hidden" name="authorId" value="{{other.id}}">
                              <button type="submit" class="btn btn-primary">Follow</button>
                          </form>
                    </div>
                </div>
              </div>
            {% endfor %}
            {% else %}
            <div class="card m-2 post">
                <div class="card-body row">
                  <div class="col">
                  <h5>There is no one else here.</h5>
                  </div>
                </div>
            </div>
          {% endif %}
          <div class="row p-2 justify-content-left">
            <h2>Explore Foreign</h2>
          </div>
          {% if other_foreign|length %}
          {% for other in other_foreign %}
          <div class="card m-2 post">
              <div class="card-body row">
                <div class="col-8">
                <h5><a href="{{ other.url }}"><span style="font-weight:bold">{{ other.displayName}} </a></h5>
                </div>
                <div class=" col-4">
                    <form method="post" action="follow" style="float:right">
                            {% csrf_token %}
                            <input type="hidden" name="authorId" value="{{other.id}}">
                            <button type="submit" class="btn btn-primary">Follow</button>
                        </form>
                  </div>
              </div>
            </div>
          {% endfor %}
          {% else %}
          <div class="card m-2 post">
              <div class="card-body row">
                <div class="col">
                <h5>There is no one else here.</h5>
                </div>
              </div>
          </div>
        {% endif %}
  </div>
  <div class="col text-right sidebar bg-light">
    <div class="row justify-content-center">
      <h2>Featured Authors</h2>
    </div>
    {% for author in local %}
    <div class="card m-2 featured-author">
      <div class="card-body">
        <a class="card-title" href="{{ author.url }}">
          <div class="row-12">
            <h5>{{ author }}</h5>
          </div>
        </a>
        <p class="card-subtitle small">Last Online: {{ author.last_login }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}