{% extends 'base.html' %}
{% load markup_tags %}
{% block nav-home %}
<a class="nav-link active" href="{% url 'home' %}">Home</a>
{% endblock  %}
{% block stylesheet %}
<style>
  .markdown-content{
    --primary-color: black;
    --accent-color: black;
}
.markdown-content img{
  max-width: 400px;
  max-height: 500px;
}
</style> 
{% endblock %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="row p-0 m-0">
  <div class="col sidebar bg-light">
    <div class="row justify-content-center">
    </div>
    {% if request.user.is_authenticated %}
    <div class="row p-2 m-2 justify-content-center">
        <a role="button" class="btn btn-lg btn-block btn-outline-primary" href="{% url 'post:create' %}">Create</a>
    </div>
    <div class="row p-2 m-2 justify-content-center">
        <a role="button" class="btn btn-lg btn-block btn-outline-primary" href="/friends">Friends</a>
    </div>
    {%endif%}
  </div>
  <div class="col-8 stream bg-white pb-3" id="stream">
    <div class="row p-2 justify-content-left">
      <h2>Stream</h2>
    </div>
    {% for post in posts %}
    <div class="card m-2 post">
      <div class="card-body">
        <a class="card-title" href="{{ post.source }}">
          <div class="row-12">
            <h5>{{ post.title }}</h5>
          </div>
        </a>
        <h6 class="card-subtitle mb-2 text-muted">{{ post.description }}</h6>
        {% if post.contentType == 'text/markdown' %}
        <div class="markdown-content col-6">{{ post.content | apply_markup:"markdown" |  truncatechars_html:500}}</div>
        {% else %}
        <p class="card-text">{{ post.content | truncatechars:500}}</p>
        {% endif %}
      </div>
      <div class="card-footer text-muted text-right p-2">
        <p class="m-0">{{ post.author.first_name }} {{ post.author.last_name }}</p>
        <p class="small m-0">{{ post.published }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="col text-right sidebar bg-light">
    <div class="row justify-content-center">
      <h2>Featured Authors</h2>
    </div>
    {% for author in authors %}
    <div class="card m-2 featured-author">
      <div class="card-body">
        <a class="card-title" href="{{ author.url }}">
          <div class="row-12">
            <h5>{{ author }}</h5>
          </div>
        </a>
        <p class="card-subtitle small">Last Online: {{ author.last_login }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}