{% extends 'base.html' %}
{% block nav-home %}
<a class="nav-link active" href="{% url 'home' %}">Home</a>
{% endblock  %}
{% block stylesheet %}
<style>
  .markdown-content{
    --primary-color: black;
    --accent-color: black;
}
  img{
  max-width: 400px;
  max-height: 500px;
}
</style> 
{% endblock %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="row p-0 m-0">
  <div class="col sidebar bg-light">
    <div class="row justify-content-center">
    </div>
    {% if request.user.is_authenticated %}
    <div class="row p-2 m-2 justify-content-center">
        <a role="button" class="btn btn-lg btn-block btn-outline-primary" href="{% url 'post:create' %}">Create</a>
    </div>
    <div class="row p-2 m-2 justify-content-center">
        <a role="button" class="btn btn-lg btn-block btn-outline-primary" href="/friends">Friends</a>
    </div>
    {% endif %}
  </div>
  <div class="col-8 stream bg-white pb-3">
    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
      <li class="nav-item stream-tab-item">
        <a href="#stream" class="nav-link active" data-toggle="tab"><h2>Stream</h2></a>
      </li>
      <li class="nav-item stream-tab-item">
        <a href="#explore" class="nav-link" data-toggle="tab" onclick="get_foreign_posts()"><h2>Explore</h2></a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade show active" id="stream">
          {% include "stream.html" %}
      </div>
      <div class="tab-pane fade" id="explore">
          <div id="foreign_posts">
          </div>
      </div>
    </div>
  </div>
  <div class="col text-right sidebar bg-light">
    <div class="row justify-content-center">
      <h2>Featured Authors</h2>
    </div>
    {% for author in authors %}
    <div class="card m-2 featured-author">
      <div class="card-body">
        <a class="card-title" href="{{ author.url }}">
          <div class="row-12">
            <h5>{{ author }}</h5>
          </div>
        </a>
        <p class="card-subtitle small">Last Online: {{ author.last_login }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<script>
  function get_foreign_posts(){
    xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
        document.getElementById('foreign_posts').innerHTML = this.responseText;
    };
    xhttp.open("GET","/api/posts/foreign", true);
    xhttp.send();
  }
  // For replacing embedded image where a url from one of our posts is in there
  function get_image(){
    var markdownPosts = [...document.getElementsByClassName('markdown-content')];
    for(var post of markdownPosts){
      // We check for if there is an image tag in the post.
      // For those image tags, if they link to another post, we should request the image content and replace it.
      var imageTags = [...post.getElementsByTagName("img")];
      for(let image of imageTags){
        // We check if it requests from a post
        if(image.src.includes('/posts/')){
          // Gonna take that as a sign that this is a post
          let xhttp = new XMLHttpRequest();
          xhttp.onreadystatechange=function(){
            if (xhttp.readyState === 4 && xhttp.status === 200){
              var json = JSON.parse(xhttp.responseText);
              image.src = "data:image/png;base64," + json["content"];
            };
          };
          xhttp.open("POST", "/api/posts/getimage", true);
          xhttp.setRequestHeader('Content-Type', 'application/json');
          xhttp.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
          var body = JSON.stringify({
            "user":'{{request.user.id}}',
            "image": image.src
          });
          xhttp.send(body);
        }
      }
    }
  }
  window.onload = function(){
    get_foreign_posts();
    get_image();
  }
</script>
{% endblock content %}