{% extends 'base.html' %} 
{% load markup_tags %}
{% block title %} {{ author.displayName }} {% endblock %}
{% block stylesheet %}
<style>
  .markdown-content{
    --primary-color: black;
    --accent-color: black;
}
  img{
  max-width: 400px;
  max-height: 500px;
}
</style> 
{% endblock %}
{% block content %}
<div class="row p-0 m-0">
  <!-- Sidebar content -->
  <div class="col sidebar bg-light">
    <!-- Sidebar Buttons go here -->
    {% if request.user.is_authenticated and author.displayName == request.user.displayName %}
    <div class="row p-2 m-2 justify-content-center">
        <a role="button" class="btn btn-lg btn-block btn-outline-primary" href="{% url 'update' %}">Edit Profile</a>
    </div>
    {% endif %}
    {% if friendrequest == "ENABLED" %}
    <!-- A form to send a friend request -->
    <form class='friendrequest-button' method="post">
      {% csrf_token %}
      <input type="hidden" name="authorID">
      <button type="submit" class="btn btn-lg btn-block btn-outline-primary">Send Friend Request</button>
    </form>
    {% elif friendrequest == "FOLLOWED" %}
    <!-- A form to accept a friend request -->
    <form class='friendrequest-button' method="post">
      {% csrf_token %}
      <input type="hidden" name="authorID">
      <button type="submit" class="btn btn-lg btn-block btn-outline-primary">Accept Friend Request</button>
    </form>
    {% elif friendrequest == "PENDING" %}
    <button class="btn btn-lg btn-block btn-outline-primary" disabled>Friend Request Pending</button>
    {% endif %}
  </div>
  <!-- Main "stream" content-->
  <div class="col-8 stream bg-white pb-3" id="stream">
    <!-- The Author information -->
    <div class="row p-2 justify-content-left">
      <h2>Profile</h2>
    </div>
    <div class="col p-2 justify-content-center">
      <h3>Display Name: {{author.displayName}}</h3>
      {% if author.first_name != ""%}
        <h3>First Name: {{author.first_name}}</h3>
      {% endif %}
      {% if author.last_name != ""%}
        <h3>Last Name: {{author.last_name}}</h3>
      {% endif %}
      {% if author.bio != ""%}
        <h3>Bio: {{author.bio}}</h3>
      {% endif %}
      {% if author.github != ""%}
        <h3>GitHub: <a href="{{author.github}}">{{author.github}}</a></h3>
      {% endif %}
      <small>Last Online: {{author.last_login}} {{ relationship }}</small>
    </div>
    
    <br>
    <!-- Start of Posts -->
    <div class="row p-2 justify-content-left">
      <h2>Posts</h2>
    </div>
    {% for post in posts %}
    <div class="card m-2 post">
      <div class="card-body">
        <a class="card-title" href="{{ post.source }}">
          <div class="row-12">
            <h5>{{post.title}}</h5>
          </div>
        </a>
        <h6 class="card-subtitle mb-2 text-muted">{{ post.description }}</h6>
        {% if post.contentType == 'text/markdown' %}
        <div class="markdown-content col-6">{{ post.content | apply_markup:"markdown" | truncatechars_html:500 }}</div>
        {% elif post.contentType == 'image/jpeg;base64' %}
        <div class="card-text"><img src="data:image/jpeg;base64,{{ post.content }}"></div>
        {% elif post.contentType == 'image/png;base64' %}
        <div class="card-text"><img src="data:image/png;base64,{{ post.content }}"></div>
        {% else %}
        <p class="card-text">{{ post.content | truncatechars:500}}</p>
        {% endif %}
      </div>
      <div class="card-footer text-muted text-right p-2">
        <p class="m-0">{{ post.author.first_name }} {{ post.author.last_name }}</p>
        <p class="small m-0">{{ post.published }}</p>
      </div>
    </div>
    {% endfor %}
    <!-- Placeholder card if there are no posts to see -->
    {% if posts.count == 0 %}
      <div class="card m-2 post">
        <div class="card-body">
          <div class="card-title">
            <h5>There are no posts available 😞</h5>
          </div>
        </div>
      </div>
    {% endif %}
  </div>
  <!-- Right sidebar (no content) -->
  <div class="col text-right sidebar bg-light">
  </div>
</div>
{% endblock %}